<% content_for :title, I18n.t('page.action_title.index', model: 'Mobiles') %>

<div class="row">
  <div class="col-lg-9">
    <%= render 'index_table' %>
  </div>

  <div class="col-lg-3">
    <%= render 'search' %>

    <% if can? :import, Mobile %>
      <%= render 'import' %>
    <% end %>
  </div>
</div>
