<h5>Variables you can use:</h5>
<code>$n</code> - Name of the user.<br />
<code>$N</code> - Name of the target.<br />
<code>$m</code> - him/her/them for the user.<br />
<code>$M</code> - him/her/them for the target.<br />
<code>$s</code> - his/her/their for the user.<br />
<code>$S</code> - his/her/their for the target.<br />
<code>$e</code> - he/she/they for the user.<br />
<code>$E</code> - he/she/they for the target.<br />
<code>$P</code> - target object name.<br />
