<% content_for :title, I18n.t('page.action_title.index', model: 'Socials') %>

<div class="row">
  <div class="col-md-9">
    <%= render 'index_table' %>
  </div>

  <div class="col-md-3">
    <%= render 'import' %>
  </div>
</div>
